/* 3) FOGLIO CSS SEPARATO */
/* Creare un foglio di stile totalmente separato è la soluzione migliore:
vi permette di mantenere ordinato il codice degli stili e potenzialmente
potete allegarlo a MULTIPLI documenti HTML */

p {
  /* dovrebbe selezionare tutti i P nel documento! */
  font-style: italic; /* corsivo */
}

/* ricordatevi sempre di COLLEGARE il foglio di stile al documento HTML
interessato */

footer p {
  /* questo selettore va a selezionare solamente i paragrafi DENTRO footer */
  font-style: normal;
}

main h3 {
  color: red;
}

h3 {
  color: blue;
}
/* vince color: blue perchè i due selettore h3 hanno lo stesso punteggio (1) */
/* quando due regole vanno in sovrapposizione vince la regola che ha il selettore
più specifico (che ha il punteggio più alto) e in caso di pareggio vince
l'ultima regola applicata */

/* ALTRI TIPI DI SELETTORI */
/* CLASSI */
/* applica una parola chiave ripetibile per isolare determinati elementi nella pagina */
.special-li {
  font-weight: bold; /* testo in grassetto */
  color: orange;
}
/* prendi tutti gli elementi dotati di classe "special-li */

li {
  color: black;
}

/* ID */
/* applica un MIRINO univoco per UN elemento nella pagina */
#first-paragraph {
  border: 2px dashed red;
}

#second-paragraph {
  font-size: 20px;
}

#second-paragraph span {
  /* gli span dentro second-paragraph */
  font-size: 1rem; /* 16px */
  /* color: lightsalmon; */
  /* color: rgb(237, 67, 177); */
  color: #d88b8b;
}

h3 {
  text-align: center;
}

ol li {
  /* prendo solo gli <li> dentro le <ol> */
}

footer h6 {
  /* prende gli h6 che sono figli A QUALSIASI LIVELLO di footer */
  /* seleziona in totale 2 h6 */
}

footer > h6 {
  /* prende solo gli h6 che sono figli DIRETTI di footer */
  /* seleziona in totale 1 h6 */
}
